<div class="left-block">
  <%= link_to @user do %>
    <%= avatar_for @user, size: Settings.avatar_large %>
  <% end %>
  <%= render "follow_form" %>
</div>
<div class="user_detail">
  <h2><%= link_to @user.name, @user %></h2>
  <h5 class="text-left"><%= @user.email %></h5>
  <span>
    <%= t ".join_date" %> <%= l @user.created_at, format: :date_format %>
  </span>
  <div class="stats">
    <ul>
      <li>
        <%= link_to pluralize(@user_result_ids.count, t(".lesson_count")),
          user_lessons_path(@user) %>
      </li>
      <li><%= t ".words_remembered", number: @learned_words.count %></li>
      <li id="followers">
        <%= pluralize @followers_size, t(".follower_count") %>
      </li>
      <li id="following">
        <%= pluralize @following_size, t(".following_count") %>
      </li>
    </ul>
  </div>
</div>
