<% provide :title, @lesson.category.name %>
<div class="col-md-8 col-md-offset-1">
  <div class="box">
    <h2 class="text-center"><%= @lesson.category.name %></h2>
    <%= hidden_field_tag :lesson_time, Settings.lesson_time %>
    <hr>
    <div class="table-responsive">
      <%= form_for [@category, @lesson] do |f| %>
        <%= f.fields_for :results, @results do |f_result| %>
          <div class="col-md-12 question well">
            <strong>
              <%= f_result.index + 1 %>. <%= f_result.object.word.content %>
            </strong>
          </div>
          <div class="col-md-12 answers">
            <% f_result.object.word.meanings.each do |meaning| %>
              <div class="option">
                <%= f_result.radio_button :meaning_id, meaning.id,
                  checked: false %>
                <%= f_result.label "meaning_id_#{meaning.id}",
                  meaning.content, class: "font-weight-normal" %>
              </div>
            <% end %>
          </div>
        <% end %>
        <div class="col-md-12 text-center btn-nav">
          <hr>
          <%= f.button class: "btn btn-success" do %>
            <i class="fa fa-upload"></i> <%= t(".btn_submit") %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="col-md-2 well fixed-progress">
  <div class="title">
    <%= t ".progress" %>
  </div>
  <div class="progress">
    <div class="progress-bar progress-bar-success" role="progressbar">
      <span id="selected"></span><span id="total"></span>
    </div>
  </div>
  <div class="title">
    <%= t ".remaining_time" %>
  </div>
  <div class="remaining-time">
    <span id="counter"></span>
  </div>
</div>
<%= javascript_include_tag "lesson", "data-turbolinks-track": true %>
