<% provide :title, t(".title") %>
<div class="col-md-8 col-md-offset-2">
  <div class="box">
    <h2 class="text-center"><%= @lesson.category.name %></h2>
    <hr>
    <div class="scores">
      <h4>
        <%= t ".scores" %>
        <span class="text-red">
          <%= "#{@scores}/#{@lesson.words.count}" %>
        </span>
      </h4>
      <h4>
        <%= t ".total_time" %>
        <span class="text-blue">
          <%= total_time @lesson %>
        </span>
      </h4>
    </div>
    <hr>
    <div class="table-responsive results">
      <% @results.each_with_index do |result, index| %>
        <div class="col-md-12 question well
          <%= get_result_class result.meaning %>">
          <strong>
            <%= index + 1 %>. <%= result.word.content %>
          </strong>
        </div>
        <div class="col-md-12 answers">
          <% result.word.meanings.each do |meaning| %>
            <div class="option">
              <%= radio_button_tag "", "",
                is_selected?(result.meaning, meaning), disabled: true %>
              <span class="<%= get_meaning_class meaning unless is_selected?(
                result.meaning, meaning) %>">
                <%= meaning.content %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
